.selected {
  color: var(--primary-color);
  background-color: #978CA5;
  border: none;
}

.delete {
  font-size: 1.2em;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
}

.delete:focus {
  outline:0;
  color: var(--primary-color);
}

.success {
  margin-top: 20px;
  background-color: #bae09a;
  border: none;
  font-weight: bold;
}

.hide {
  display: none
}

.show {
  display: block
}

.makeFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locButton {
  display: inline;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: .8em;
  border-radius: 5px;
  margin: 0px 5px;
}

.locAgree {
  background-color: #639954;
}

.locDeny {
  background-color: #bc4b4b;
}

span {
  color: white;
  margin: 0px 5px 0px 25px;
  font-style: italic;
  font-size: .9em;
}

.distance {
  margin-right: 10px;
}