div.tooltips {
    position: relative;
    display: inline;
}
div.tooltips span {
    position: absolute;
    width: 400%;
    color: #CDDDDD;
    background: #051014;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    padding: 10px;
}
div.tooltips span:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -8px;
    width: 0; height: 0;
}
div:hover.tooltips span {
    visibility: visible;
    left: 0%;
    top: 100px;
    margin-left: -120px;
    z-index: 999;
    font-size: 16px;
    font-weight: normal;
}

.toolTipMsg {
  padding-bottom: 20px;
}

.range {
  font-weight: bold;
  font-style: normal;
  display: inline;
  margin-right: 10px;
}
